@charset 'utf-8';

// --------------------
// #SETTINGS
// --------------------

// imports
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

// fonts
$sansserif-stack: ('Verdana', 'Open Sans', 'Helvetica', 'Arial', sans-serif);
$serif-stack    : ('Times New Roman', 'Georgia', serif);
$font-karla     : ('Karla', $sansserif-stack);

// color names
$color-Cyan        : hsl(179, 62%, 43%);
$color-BrightYellow: hsl(71, 73%, 54%);
$color-LightGray   : hsl(204, 43%, 93%);
$color-GrayishBlue : hsl(218, 22%, 67%);

// colors
$color-background    : $color-GrayishBlue;
$color-surface       : $color-LightGray;
$color-surfaceVariant: $color-Cyan;

$text-title   : $color-Cyan;
$text-white   : #fff;
$text-subtitle: $color-BrightYellow;
$text-body    : $color-GrayishBlue;

$color-button: $color-BrightYellow;

// variables
$border: 10px;



// --------------------
// #TOOLS
// --------------------

// *functions

/// Função 'lighter()'
/// @param {color} $color - a cor que será deixada mais clara.
/// @param {number} $percent [80%] - a porcentagem de 100% até 0%, quanto menor mais claro.
/// @return {color} returna uma cor mais clara.
@function lighter($color, $percent: 80%) {
    @return mix($color, #fff, $percent);
}

/// Função 'darker()'
/// @param {color} $color - a cor que será deixada mais escura.
/// @param {number} $percent [80%] - a porcentagem de 100% até 0%, quanto menor mais escuro.
/// @return {color} returna uma cor mais escura.
@function darker($color, $percent: 80%) {
    @return mix($color, #000, $percent);
}

// *mixins



// --------------------
/* #BASE */
// --------------------

* {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
}

body {
    width : 100%;
    height: 100vh;
}

a {
    text-decoration: none;
}



// --------------------
/* #TYPOGRAPHY */
// --------------------

html {
    font: normal 16px / 1.5 $font-karla;
}

.card {
    &__price {
        font: {
            size  : 2.25rem;
            weight: 700;
        }
        &--tag {
            font-size  : 1rem;
            margin-left: 12px;
        }
    }
    &__title {
        font-size: 1.3rem;
    }
    &__body {
        font-size: 1rem;
    }

    &--secondary {
        font-weight: 400;
    }
}

.button {
    font-weight: 700;
}

footer {
    text-align: center;
}



// --------------------
/* #LAYOUT */
// --------------------

// *grid
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: grid;
    grid-template: auto / 1fr 1fr;
}

.card--large {
    grid-column: 2 span;
}



// --------------------
/* #COMPONENTS */
// --------------------

main {
    max-width    : 650px;
    margin       : 20px auto;
    border-radius: 10px;
}

.card {
    padding: 40px;

    &__title {
        margin-bottom: 10px;
    }
    &__price {
        display    : flex;
        align-items: center;
    }

    &--primary {
        border-bottom-left-radius: $border;
    }
    &--secondary {
        border-bottom-right-radius: $border;
    }
}

.button {
    display        : flex;
    justify-content: center;
    border-radius  : 4px;
    margin-top     : 30px;
    padding        : 8px 0;
}



// --------------------
/* #MEDIA QUERY */
// --------------------

@media screen and (max-width: 660px) {
    main {
        display       : flex;
        flex-direction: column;
        margin        : 20px;
    }

    .card {
        border-radius: 0;

        &:first-child {
            border-radius: $border $border 0 0;
        }
        &:last-child {
            border-radius: 0 0 $border $border;
        }
    }
}



// --------------------
/* #THEME */
// --------------------

body {
    background-color: $color-surface;
}

main {
    background-color: $text-white;
    box-shadow      : 0px 0px 16px 4px rgba($color: #000000, $alpha: 0.1);
}

.card {
    &__title {
        color: $text-title;
    }
    &__subtitle {
        color: $text-subtitle;
    }
    &__body {
        color: $text-body;
    }
    &__price--tag {
        color: rgba($text-white, 0.5);
    }

    &--primary {
        background-color: $color-surfaceVariant;
    }
    &--secondary {
        background-color: lighter($color-surfaceVariant, 85);
    }
    &--secondary > .card__body {
        color: rgba($text-white, 0.7);
    }
}

.button {
    background-color: $color-button;
    box-shadow      : 0 0 4px 2px rgba(#000, 0.1);

    &:hover {
        background-color: darker($color-button, 95);
    }
}

.text--white {
    color: $text-white;
}



// --------------------
/* #UTILITIES */
// --------------------
